/* CSS Stylesheet for Javascript Turing machine simulator */

body {
  text-align: center;
  font-family: sans-serif;
  background-color: #191825;
  margin: 0;
  
}

#Machine {
  padding: 5px;
  background-color: #ffff;
 overflow: auto;
  text-align: center;
  height: 100vh;
}

.BoxTitle {
  position: relative;
  top : 12px;
  padding: 5px 10px;
  border-radius: 30px;
  height: 15px;
  display: inline; 
  color: white;
  background-color: #8660e6e5;


  font-family: sans-serif;

  font-size: small;
  z-index: 3;
/*  font-weight: bold; */
}

#MachineTapeContainer {
  width: 80vw;	/* Max width 90% of window width */
  /* margin-left: 4%; */
  margin-right: 4%;
}

#MachineTape {
  background-color: #dadadae5;
  padding-top: 10px;
  padding-left: 0px;
  font-size: x-large;
  margin-bottom: 1em;
  overflow: auto;
  border: none;
  box-shadow: 0px 0px 3px grey;
}


.tape {
  display: inline;
  font-family: "Courier New", courier;
  padding: 0;
  margin: 0;
}

.OneDirectionalTape {
  border-left: 3px solid red;
}

#LeftTape {
  text-align: right;
  padding-left: 5px;
}

#RightTape {
  text-align: left;
  padding-right: 5px;
}

#ActiveTape {
  color: white;
  /* border: 1px solid LightGrey; */

  font-weight: bold;
  background-color: #191a1a;
}

#ActiveTapeArea {
  position: relative;
  display: inline;
  padding: 0;
  margin: 0;
}

#RunningTapeDisplay {
/*  overflow: auto; */
  height: 2.5em;
  white-space: pre;
}

#InitialTapeDisplay {
  margin-bottom: 4px;
}

#InitialState {
  width: 50px;
}

.MachineStatusContainer {
  text-align: center;
  width: 150px;
  position: relative;
  top: -1em;
  margin: 0;
  padding: 0;
}

.MachineStatusBox {
  /* border: 1px solid grey; */
  padding-top: 12px;
  padding-bottom: 0.25em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  margin-top: 5px;
  margin-bottom: 8px;
  margin-left: 0;
  margin-right: 0;
  border: none;
  box-shadow: 0px 0px 3px rgb(25, 97, 34);
/*  text-align: center; */
  font-family: "Courier New", courier;
  background-color: #dadadae5;
  overflow: hidden;
}


#MachineStateContainer {
  float: left;
}

#MachineStepsContainer {
  float: right;
}
.header{
  display: flex;
}
#MachineMiddleSection {
  text-align: center;
  height: 2em;
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
  width: 10vw;
}

#MachineStatusMsgWrapper {
  position: relative;
/*  z-index: 10; */
}

#MachineStatusMsgBg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #76eaa3;
  display: none;
}

#MachineStatusMsgText {
  text-align: center;
  width: 60%;
  height: 3em;
  position: relative;
  font-size: larger;
  z-index: 2;
  padding: 0.5em;
}

#MachineLowerSection {
  position: relative;
}

#MachineLowerSection2 {
}


#MachineProgramContainer {
  text-align: center;
  width: 100%;
/*  top: -2em; */
}

#MachineProgramBlock {
  padding-top: 8px;
  text-align: center;
  overflow: hidden;
}

#MachineProgramBlock2 {
  padding: 4px;
}

#MachineControlBlock {
}
.inputBox{
  
  width: 100px;
}

#MachineButtonsBlock {
  height: 70px;
    width: 100%;
    margin: 0 auto;
  background: #dedede;
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}


#LoadBlock {
  z-index: 999;
  background-color: #333333;
 
}
#LoadMenu {
  display: none;
  position: absolute;
  background-color: #5a5a5a;
}
#LoadBlock {
  position: relative;
}
#Menu{
  background-color: #252525e5;
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  margin-bottom: 4px;
  border-radius: 10px;
}
#LoadMenu a{
  text-decoration: none;
  color: white;
  padding: 5px 0;
  font-size: 15px;
  margin: 2px 0;
  text-align: left;

}

button {
  min-width: 85px;
  height: 30px;
  background: #8d8b8b;
  color: white;
  margin: 5px 0px;
  border-radius: 10px;
  padding: 5px 0px ;

}
button .active{
  background: none;
  color: white;
  margin: 5px 0px;
  border-radius: 10px;
  padding: 5px 0px ;
}
#MachineHead {
  position: absolute;
/*  left: -50%; */ /* Note: This works properly on Firefox but not on Chrome, IE - due to bugs? */
  left: -9px; /* Using this because of Chrome, IE bugs - see above */
  top: 100%;
  width: 32px;
/*  display: none; */
}

/* Triangle using css tricks */
.HeadTop {
  height: 10px;
  width: 0px;
}

/* Arrow outline */
.HeadTop:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  color: white;
  border-bottom: 10px solid #333333;
}

/* Arrow interior */
.HeadTop:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  color: white;
  margin-top:1px;
  margin-left:2px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 9px solid #8660e6e5;
}

.HeadBody {
  width: 32px;
  height: 14px;
  text-align: center;
  font-size: small;
  background: #8660e6e5;
  color: white;
  border-left: 1px solid #333333;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
}




/** Miscellaneous **/
#IntroText {
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
}

h1 {
  margin-bottom: 0.2em;
}

code {
/*  background: #e0e0e0;*/
  font-size: larger;
}


#MetaInfo div { 
  margin-top: 0.5em;
}

#LoadMenu {
  display: none;  /* Initially hidden */
}

#SaveStatus {
  display: none;  /* Initially hidden */
  position: relative;
  margin-top: 5px;
  word-wrap: break-word;
}

#SaveStatusFg {
  background: transparent;
  position: relative;
  z-index: 10;
}

#SaveStatusBg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#ResetMessage {
  color: red;
  display: none;
}

#Source {
  background-color: transparent;
  width: 80vw;
  min-width: 80vw;
  height: 400px;
  min-height: 250px;
  font-family: monospace;
  font-size: 15px;
  line-height: 17px;
  position: relative;
  margin: 0px;
}
.glow {
  box-shadow: 0px 0px 3px red;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
}

.backlinks {
  text-align: center;
  margin-bottom: 0.2em;
}

.Signature {
  text-align: right;
  font-style: italic;
  font-size: smaller;
}

#debugOuter {
  clear: both;
}

.DebugClass {
  display: none;
}

.clear {
  clear: both;
}

.disabled {
  color: grey;
}

.cleardiv {
  clear: both;
  height: 0px;
}

li {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}